@import "tailwindcss";

@layer base {
  body {
    background-color: #f8fafc;
    color: #0f172a;
    font-family: var(--font-hind);
  }
}

@layer components {
  .glass-card {
    @apply bg-white/80 backdrop-blur-md border border-white/20 shadow-xl;
  }
  
  .font-arabic {
    font-family: var(--font-amiri);
    @apply leading-[2.2] antialiased;
  }
}